html {
    font-family: sans-serif;
}

table {
    width: 100%; 
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 2em; 
    text-align: center;
    font-size: 12px;
}

th {
    background-color: #f2f2f2;
}

tbody tr:nth-child(odd){
    background-color: #e6f7ff; 
}

.hour-cell {
    text-align: center;
}

.time-span {
    font-size: 10px;
    display: block;
}



