body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #cfe2f3;
    margin: 0;
    padding: 0;
    color: #204060;
}

.container__table {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

table {
    width: 80%;
    border-collapse: collapse;
    box-shadow: 5px 5px 50px rgba(32, 64, 96, 0.1);
    background-color: #f0f5fa;      
}

th, td {
    border: 2px solid #204060;
    padding: 13px;
    text-align: center;
}

th {
    background-color: #2c5078;
    color: #fff;
}

td {
    background-color: #d1e5f0;
}

.caption {
    margin-top: 10px;
    font-style: italic;
    color: #204060;
}

.hour-cell {
    font-weight: bold;
    color: #f0f5fa;
}

.time-span {
    display: block;
    font-size: 12px;
    color: #f0f5fa;
}

.teacher-name {
    display: block;
    font-size: 10px;
    font-weight: bold;
    color: #204060;
}

/* Zvýrazněte časový rozsah */
th div,
td div {
    font-size: 14px;
    color: #1b3b5e;
}

